.header {
    height: 64px;
    background-color: #225FBF;
    margin: auto;
    
    .logo {
        padding-top: 10px;
    }

    .logoHeading {
        display: none;
    }

    .headerWrapper{
        display: flex;
        justify-content: space-between;
        width: 1170px;
        margin: auto;
        
    }

    .headerNavigation {
        justify-content: space-between;
        padding: 24px 0 0 143px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
    }

    .navigation {
        display: flex; 
        list-style: none;
    }

    .navigationList a {
        margin-left: 50px;
        color: #ffffff;
    }

    .sideItems {
        display: flex;
    }

    .header__side-items_personal-info {
        display: flex;
    }

    .headerItem {
        background: #1753B3;
        border-radius: 50%;
        margin-top: 18px;
        margin-left: 33px;
        width: 32px;
        height: 32px;
        text-align: center;
    }

    .itemImg {
        margin-top: 7px;
    }

    .header__side-items_personal-info {
        width: 170px;
        height: 32px;
        background: #1753B3;
        border-radius: 23px;
        margin: 19px 0 0 15px;
        font-weight: bold;
        font-size: 10px;
        line-height: 20px;
        color: #ffffff;
    }

    .personal-mini-avatar {
        border-radius: 50%;
    }
    
    .header__side-items_personal-info p{
        padding: 5px 0 0 8px;
    }

}

.dawn-line-dark {
    margin: auto;   
    height: 4px;
    background-color: #1753B3;
}
