
.emploee-footer-item {
    display: flex;
}

.emploee-footer-icon {
    margin-right: 10px;
}

.emploee-footer-item-first {
    width: 110px;
}

.emploee-footer-text-phone {
    
    width: 100px;
}
.employees-view {
    display: flex;
}

.emploee-empty {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.hidden {
    display: none;
}
